{% load static %}
<div id="main" class="container">
    <header id="header">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="header-item bg-0">
                    <div class="line">
                        <a href="#" id="header-logo" class="site-logo">University</a>

                        <a href="#" class="custom-btn colored">Apply to University</a>
                    </div>

                    <div class="line">
                        <p id="header-slogan">University of modern science</p>

                        <div class="social-btn">
                            <a class="icon-twitter-bird" href="#"></a>
                            <a class="icon-linkedin-rect" href="#"></a>
                            <a class="icon-facebook-rect" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="header-item bg-4">
                    <a id="menu-open" class="" href="javascript:void(0);">Open Menu<span></span></a>

                    <nav id="navigation" class="header-menu">
                        <ul>
                            <li>
                                <a href="#">Faculties</a>

                                <div class="dropdown">
                                    <ul class="bg-7">
                                        <li><a href="#">Faculties 1</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="#">Academics</a>
                            </li>

                            <li>
                                <a href="#">Courses</a>

                                <div class="dropdown">
                                    <ul class="bg-7">
                                        <li><a href="#">Courses</a></li>
                                        <li><a href="#">Courses Details</a></li>
                                    </ul>
                                </div>
                            </li>
  
                            </li>

                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </nav>

                    <nav id="submenu" class="header-menu bg-2">
                        <ul>
                            <li><a href="#">Campus and locations</a></li>
                            <li><a href="#">Directory</a></li>
                            <li><a href="#">Study advice</a></li>
                            <li class="current"><a href="{% url 'loginpage' %}"><i class="icon-user"></i>Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>